

.todo-strip{
    background-color: rgb(17, 18, 20);;
    width: 420px;
    height: 47px;
    font-style: "MyFont";
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    background: #456BD9;
    clip-path: circle(46%);
    height: 31px;
    width: 30px;
  }

.title-container {
    width: 140px;
    height: 40px;
    margin-left: 12px;
}

/* remove todo strip btn styles */
.button-remove {
    display: block;
    position: relative;
    width: 33px;
    height: 32px;
    background: #1e1d1d;
    color: #a1905d;
    border: 1px solid #a1905d;
    outline: none;
    border-radius: 8px;
    margin-left: 50px;
  }
  .button-remove:hover:before {
    width: 15px;
  }
  .button-remove:hover:after {
    width: 15px;
  }
  .button-remove:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    border-left: 8px solid currentColor;
    border-right: 8px solid currentColor;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .button-remove:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    border-left: 8px solid currentColor;
    border-right: 8px solid currentColor;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }